/*background: #8B4513;
*/

/* 
Selector --> "body"
*/
body{
	/* Declaration block */
	color:#8B4513; /* Property --> "color"
					  Value --> "#8B4513"
				    */

	background-color:mistyrose;

	border:solid;
	border-color:red;
	border-width: 1px;

/*	font-size: large;
	font-size: medium;
	font-size: small;*/
	font-size: 1.25em;
	font-family: system-ui, serif, sans-serif;
}

/*
Selector --> "h1"
*/
h1{

	background-color: pink;

	border: dashed;
	border-color: maroon;
	border-right: solid;
	border-left: solid;
	border-right-width: 50px;
	border-left-width: 50px;
	padding: 20px;

	font-style: bolder;
	font-size: 2.0em;
	font-family: sans-serif;
}

/*
Selector --> "h2"
*/
h2{

	background-color: lightpink;
	/*width:fit-content;*/

	border: dotted;
	border-top-width: 8px;
	border-bottom-width: 8px;
	border-left-width: 5px;
	border-right-width: 5px;
	padding: 10px;

	font-weight: bolder;
	font-style: italic;
	font-size: 1.5em;
	font-family: sans-serif;
}

h1, h2{
	color: maroon;
	text-align: center;
}

/*
Selector --> "a"
*/
a:link{
	/* Declaration block */
	color:tomato; /* Property --> "color"
	Value --> "tomato" */

	padding-left: 200px;
	font-size: 1.2em;
}

a:visited{
	color: red;
}

a:hover{
	color: brown;
}

a:active{
	color: brown;
}

strong{
	background-color:lightpink;

	border:dotted;
	border-color:maroon;
}

/*u{
	border:dashed;
}*/

em{
	background-color:linen;
	font-size: 30px;
}

img{
	text-align: center;
	padding-left: 30px;
}

p{
	padding-top: 15px;
	padding-bottom: 15px;
}

p strong{
	background-color: mistyrose;
	border: none;
}
p em{
	font-size: 24px;
}

p.titleAndContentDivider{
	border: solid;
	border-top-width: 10px;
	padding: 0px;
}

p.intro{
	border-bottom: solid;
	border-width: 2px;
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
}

p.contentDivider{
	border: dotted;
	border-width: 1px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
}

p.middle{
	border: solid;
	border-width: 3px;
	padding: 15px;
	padding-left: 27px;
	padding-right: 27px;
}

p.end{
	border: solid;
	border-width: 4px;
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

p.hyperlinks{
	border: dotted;
	border-right: solid;
	border-left: solid;
	color: orange;
	border-top-color: red;
}

p#startOfStory{
	border-top: dotted;
	padding: 0px;
}

p#endOfStory{
	border-bottom: dashed;
	padding: 0px;
}